<div class="d-flex align-items-center justify-content-center">
    <h1>Welcome to Scheduled Tweets</h1>
</div>

<% if @user %>
    Logged in as: <%= @user.email %>

    <!-- <%= link_to "Logout", logout_path, method: :delete %> links on a page are normally GET requests which by js will transform the request into a delete request -->    
    <%= button_to "Logout", logout_path, method: :delete %> <!-- Generates a form which is more correct-->

<% end %>